<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :Nama %><br>
    <%= form.text_field :nama %>
  </p>
 
  <p>
    <%= form.label :Email%><br>
    <%= form.text_field :email %>
  </p>
 

  <p>
    <%= form.label :Telepon %><br>
    <%= form.text_field :telepon %>
  </p>
 
  <p>
    <%= form.label :Alamat %><br>
    <%= form.text_field :alamat %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>