<h1 class="tonsi">
Daftar Hadir</h1>
  <a href="/articles/new" class="btn btn-primary btn-lg active role="button" aria-pressed="true">Artikel Baru</a><br><br>
 
<div class="row">
  <div class="col-md-6 col-sm-6">
      <table class="table table-bordered table-responsive">
        <thead class="thead-dark">
      <tr>
      <th scope="colspan">No</th>
      <th scope="colspan">Nama</th>
      <th scope="colspan">Email</th>
      <th scope="colspan">Telepon</th>
      <th scope="colspan">Alamat</th>
      <th colspan="2"><center>Aksi</center></th>
    
  </tr>
</thead>
 
    <% i = 0 %>
    <ul id="articles">
    <% @articles.each do |article| %>
    <% i+=1 %> 
 </ul>
    <tr>
      <td><%= "#{i}" %></td>
      <td><%= article.nama %></td>
      <td><%= article.email %></td>
      <td><%= article.telepon %></td>
      <td><%= article.alamat %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <!-- <td><%= link_to 'Edit', edit_article_path(article) %></td> -->
      <td><%= link_to 'Destroy', article_path(article), method: :delete, 
        data: { confirm: 'Are You sure'} %></td>
    </tr>
  <% end %>

</table>
</div>
</div>

<div>
  <div class="col-md-6" col-sm-6>
  

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="home/arjuna/project/app/assets/images/hhh.jpeg" alt="Card image cap">
     
</div>
</div>
      <%= link_to 'Kembali', articles_path  %>